.wrapper{
    max-width: 1280px;
    margin: 0 auto;
}

input[type=file] {
    display: none;
}
.download__button {
    label {
        position: fixed;
        top: 90%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 50px;
        height: 50px;
        background-color: transparent;
        display: block;
        cursor: pointer;
        border-radius: 15px;
        border: 3px solid #000;
    }
}

.line1 {
    position: absolute;
    width: 40px;
    height: 3px;
    background-color: #000;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

.line2{
    content: '';
    display: block;
    width: 3px;
    height: 40px;
    background-color: #000;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;   
}

.avatar__wrapper {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    position: relative;
    overflow: hidden;

    label {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        z-index: 100;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.img__wrapper {
    max-width: 1280px;
    display: flex;
    flex-flow: row wrap;
    margin: 0 auto;
    margin-top: 50px;

    img {
        object-fit: cover;
        flex: 0 1 30%;
        width: 135px;
        margin: 20px;
    }
}
